/* Use border-box sizing for the top-level element */
html{
    box-sizing: border-box;
}

/*
    Reset elements to use border-box (defined on HTML tag above).
    If an element declares it's using a different sizing,
    then child elements will now inherit that sizing.
*/
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: system-ui;
    font-size: 20px;
    line-height: 1.75em;
    color: rgb(68, 68, 68);
}

/* Content section */

.content, .page-title{
    width: 100%;
    max-width: 960px;
    margin: 0 auto 5rem auto;
}

/* Page title */

.page-title__heading{
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

/*
    Underline that clears descenders.
    This also allows adjusting the height of the underline and it's position below the
    text.
*/
.page-title__text{
    /* The white text shadow hides the underline when it passes descenders. */
    text-shadow: 3px 0 #ffffff, 2px 0 #ffffff, 1px 0 #ffffff, -1px 0 #ffffff, -2px 0 #ffffff, -3px 0 #ffffff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
    background-repeat: repeat-x;
    /* Adjust height to change height of underline. */
    background-size: 1px 3px;
    /* Adjust the vertical background position to place the underline
       further or closer to the text.
       This also needs to be adjusted if the font size changes.
    */
    background-position: 0 2rem;
}

/* Tables */

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    border-bottom: 1px solid rgb(68, 68, 68);
    padding: 0.5rem;
    font-weight: bold;
    text-align:left;
}

td{
    border-bottom: 1px solid rgb(213, 213, 213);
    padding: 0.5rem;

}

/* Forms */

.form__group{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.form__label{
    padding: 0 0.25rem;
    font-weight: bold;
    max-width: 25%;
    flex-basis: 25%;
    text-align: right;
}

.form__value{
    padding: 0 0.25rem;
    flex-basis: 75%;
    max-width: 75%;
}

/* Navigation button */

.button-nav{
    background-color: rgb(0, 72, 109);
    padding: 0.25rem 1.5rem;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
    height: 1rem;
}

.button-nav:hover{
    background-color: rgb(0, 85, 129);
}

.button-nav:active{
    background-color: rgb(0, 66, 100);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    outline: 0;
}

.button-nav:focus{
    outline: 0;
}
